.button-card-explore {
    position: relative;
    text-decoration: none;
    color: #fff;
    background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
    border-radius: 10px;
    font-size: 1.25em;
    cursor: pointer;
  }
  
  .button-card-explore span {
    position: relative;
    z-index: 1;
  }
  
  .button-card-explore::before {
    content: "";
    position: absolute;
    inset: 1px;
    background: #272727;
    border-radius: 9px;
    transition: 0.5s;
  }
  
  .button-card-explore:hover::before {
    opacity: 0.7;
  }
  
  .button-card-explore::after {
    content: "";
    position: absolute;
    inset: 0px;
    background: linear-gradient(45deg, #0ce39a, #69007f, #fc0987);
    border-radius: 9px;
    transition: 0.5s;
    opacity: 0;
    filter: blur(20px);
  }
  
  .button-card-explore:hover:after {
    opacity: 1;
  }
  